@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

.login-input input, .register-input input {
  display: block;
  width: 100%;
  justify-content: center;
  padding: 12px 8px;
  margin: 8px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--gray-dark-color);
}

.bg-login-regist {
  background-image: url(../assets/bg-LoginRegist.png);
  background-size: cover;
}

 .bg-image {
  background-image: url(../assets/rec.png);
  background-size: cover;
 }

 .filter-sd {
  box-shadow: 0px 14px 15px -3px #0C145A;
 }

 .slider{
  margin: 50px auto;
  text-align: center;
  width: 100%;
  height: 436px;
}

.slide, .slide img{
  width: 100%;
  height: 320px;
  margin-top: 20px;
}
.slide{
  transform: scale(.7);
  transition: .5s;
  filter: blur(3px);
}

.slide-active{
  filter: blur(0);
  opacity: 1;
  transform: scale(1.1);
}
.arrow{
  align-items: center;
  background-color: #063CFC;
  color: white;
  font-size: 42px;
  padding: 5px 15px;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--accent-color);
  display: flex;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 200px;
  z-index: 100;
  cursor: pointer;
}
.arrow-right{
  right: 20px;
}
.arrow-left{
  left: 20px;
}
.dot{
  margin-top: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--accent-color);
}
.dot-active{
  background: #121227;
  box-shadow: 0 0 15px 10px var(--accent-color);
}
@media screen and (max-width: 768px) {
  .header{
    font-size: 7vw;
  }
}